html {
	/** Breakpoints **/
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	/** Breakpoints **/

		
	/** z-index **/
	--zindex-dropdown: 1000;
	--zindex-sticky: 1020;
	--zindex-fixed: 1030;
	--zindex-modal-backdrop: 1040;
	--zindex-modal: 1050;
	--zindex-popover: 1060;
	--zindex-tooltip: 1070;
	/** z-index **/
}

body {
	/** Theme **/
	--theme: #0070f3;
	--theme-tint-10: #EFE6FD;
	--color-on-theme: #FFFFFF;
	/** Theme **/

	/** Background **/
	--bg-color: #fff;
	--backdrop-filter: saturate(180%) blur(5px);
	--bg-color-tp: hsla(0, 0%, 100%, 0.8);
	/** Background **/

	/** Text Colors **/
	--text-color: #333333;
	--text-color-light: #545454;
	/** Text Colors **/

	/** Borders **/
	--border-color: #eaeaea;
	--border: 1px solid var(--border-color);
	--border-radius: 5px;
	/** Borders **/

	--green: rgb(52, 199, 89);

	--color: var(--bg-color);
	--color-tp: var(--text-color);
}

body.dark {

}